<center><a href="ex101.c">Actual source code: ex101.c</a></center><br>

<html>
<head>
<title></title>
<meta name="generator" content="c2html 0.9.5">
<meta name="date" content="2007-03-29T00:26:36+00:00">
</head>

<body bgcolor="#FFFFFF">
<pre width="80"><a name="line1">  1: </a>static char help[] = <font color="#666666">"Testing PtAP for SeqMAIJ matrix, P, with SeqAIJ matrix, A.\n\n"</font>;

<a name="line3"> 3: </a> #include <A href="../../../../include/petscmat.h.html">petscmat.h</A>

<a name="line7">  7: </a><strong><font color="#4169E1"><a name="main"></a>int main(int argc,char **argv)</font></strong> {
<a name="line8">  8: </a>  <A href="../../../../docs/manualpages/Mat/Mat.html#Mat">Mat</A>            pA,P,aijP;
<a name="line9">  9: </a>  <A href="../../../../docs/manualpages/Sys/PetscScalar.html#PetscScalar">PetscScalar</A>    pa[]={1.,-1.,0.,0.,1.,-1.,0.,0.,1.};
<a name="line10"> 10: </a>  <A href="../../../../docs/manualpages/Sys/PetscInt.html#PetscInt">PetscInt</A>       pij[]={0,1,2};
<a name="line11"> 11: </a>  <A href="../../../../docs/manualpages/Sys/PetscInt.html#PetscInt">PetscInt</A>       aij[3][3]={{0,1,2},{3,4,5},{6,7,8}};
<a name="line12"> 12: </a>  <A href="../../../../docs/manualpages/Mat/Mat.html#Mat">Mat</A>            A,mC,C;
<a name="line13"> 13: </a>  <A href="../../../../docs/manualpages/Sys/PetscScalar.html#PetscScalar">PetscScalar</A>    one=1.;

<a name="line16"> 16: </a>  <A href="../../../../docs/manualpages/Sys/PetscInitialize.html#PetscInitialize">PetscInitialize</A>(&amp;argc,&amp;argv,(char *)0,help);

<a name="line18"> 18: </a>  <font color="#B22222">/* Create MAIJ matrix, P */</font>
<a name="line19"> 19: </a>  <A href="../../../../docs/manualpages/Mat/MatCreate.html#MatCreate">MatCreate</A>(<A href="../../../../docs/manualpages/Sys/PETSC_COMM_SELF.html#PETSC_COMM_SELF">PETSC_COMM_SELF</A>,&amp;pA);
<a name="line20"> 20: </a>  <A href="../../../../docs/manualpages/Mat/MatSetSizes.html#MatSetSizes">MatSetSizes</A>(pA,3,3,3,3);
<a name="line21"> 21: </a>  <A href="../../../../docs/manualpages/Mat/MatSetType.html#MatSetType">MatSetType</A>(pA,<A href="../../../../docs/manualpages/Mat/MATSEQAIJ.html#MATSEQAIJ">MATSEQAIJ</A>);
<a name="line22"> 22: </a>  <A href="../../../../docs/manualpages/Mat/MatSetOption.html#MatSetOption">MatSetOption</A>(pA,MAT_IGNORE_ZERO_ENTRIES);
<a name="line23"> 23: </a>  <A href="../../../../docs/manualpages/Mat/MatSetValues.html#MatSetValues">MatSetValues</A>(pA,3,pij,3,pij,pa,<A href="../../../../docs/manualpages/Sys/ADD_VALUES.html#ADD_VALUES">ADD_VALUES</A>);
<a name="line24"> 24: </a>  <A href="../../../../docs/manualpages/Mat/MatAssemblyBegin.html#MatAssemblyBegin">MatAssemblyBegin</A>(pA,MAT_FINAL_ASSEMBLY);
<a name="line25"> 25: </a>  <A href="../../../../docs/manualpages/Mat/MatAssemblyEnd.html#MatAssemblyEnd">MatAssemblyEnd</A>(pA,MAT_FINAL_ASSEMBLY);
<a name="line26"> 26: </a>  <A href="../../../../docs/manualpages/Mat/MatCreateMAIJ.html#MatCreateMAIJ">MatCreateMAIJ</A>(pA,3,&amp;P);
<a name="line27"> 27: </a>  <A href="../../../../docs/manualpages/Mat/MatDestroy.html#MatDestroy">MatDestroy</A>(pA);

<a name="line29"> 29: </a>  <font color="#B22222">/* Create AIJ equivalent matrix, aijP, for comparison testing */</font>
<a name="line30"> 30: </a>  <A href="../../../../docs/manualpages/Mat/MatConvert.html#MatConvert">MatConvert</A>(P,<A href="../../../../docs/manualpages/Mat/MATSEQAIJ.html#MATSEQAIJ">MATSEQAIJ</A>,MAT_INITIAL_MATRIX,&amp;aijP);

<a name="line32"> 32: </a>  <font color="#B22222">/* Create AIJ matrix, A */</font>
<a name="line33"> 33: </a>  <A href="../../../../docs/manualpages/Mat/MatCreate.html#MatCreate">MatCreate</A>(<A href="../../../../docs/manualpages/Sys/PETSC_COMM_SELF.html#PETSC_COMM_SELF">PETSC_COMM_SELF</A>,&amp;A);
<a name="line34"> 34: </a>  <A href="../../../../docs/manualpages/Mat/MatSetSizes.html#MatSetSizes">MatSetSizes</A>(A,9,9,9,9);
<a name="line35"> 35: </a>  <A href="../../../../docs/manualpages/Mat/MatSetType.html#MatSetType">MatSetType</A>(A,<A href="../../../../docs/manualpages/Mat/MATSEQAIJ.html#MATSEQAIJ">MATSEQAIJ</A>);
<a name="line36"> 36: </a>  <A href="../../../../docs/manualpages/Mat/MatSetOption.html#MatSetOption">MatSetOption</A>(A,MAT_IGNORE_ZERO_ENTRIES);
<a name="line37"> 37: </a>  <A href="../../../../docs/manualpages/Mat/MatSetValues.html#MatSetValues">MatSetValues</A>(A,3,aij[0],3,aij[0],pa,<A href="../../../../docs/manualpages/Sys/ADD_VALUES.html#ADD_VALUES">ADD_VALUES</A>);
<a name="line38"> 38: </a>  <A href="../../../../docs/manualpages/Mat/MatSetValues.html#MatSetValues">MatSetValues</A>(A,3,aij[1],3,aij[1],pa,<A href="../../../../docs/manualpages/Sys/ADD_VALUES.html#ADD_VALUES">ADD_VALUES</A>);
<a name="line39"> 39: </a>  <A href="../../../../docs/manualpages/Mat/MatSetValues.html#MatSetValues">MatSetValues</A>(A,3,aij[2],3,aij[2],pa,<A href="../../../../docs/manualpages/Sys/ADD_VALUES.html#ADD_VALUES">ADD_VALUES</A>);
<a name="line40"> 40: </a>  {int i;
<a name="line41"> 41: </a>   <font color="#4169E1">for</font> (i=0;i&lt;9;i++) {
<a name="line42"> 42: </a>    <A href="../../../../docs/manualpages/Mat/MatSetValue.html#MatSetValue">MatSetValue</A>(A,i,i,one,<A href="../../../../docs/manualpages/Sys/ADD_VALUES.html#ADD_VALUES">ADD_VALUES</A>);
<a name="line43"> 43: </a>   }
<a name="line44"> 44: </a>  }
<a name="line45"> 45: </a>  <A href="../../../../docs/manualpages/Mat/MatAssemblyBegin.html#MatAssemblyBegin">MatAssemblyBegin</A>(A,MAT_FINAL_ASSEMBLY);
<a name="line46"> 46: </a>  <A href="../../../../docs/manualpages/Mat/MatAssemblyEnd.html#MatAssemblyEnd">MatAssemblyEnd</A>(A,MAT_FINAL_ASSEMBLY);
<a name="line47"> 47: </a>
<a name="line48"> 48: </a>  <font color="#B22222">/* Perform SeqAIJ_SeqMAIJ PtAP */</font>
<a name="line49"> 49: </a>  <A href="../../../../docs/manualpages/Mat/MatPtAP.html#MatPtAP">MatPtAP</A>(A,P,MAT_INITIAL_MATRIX,1.,&amp;mC);
<a name="line50"> 50: </a>  <A href="../../../../docs/manualpages/Mat/MatView.html#MatView">MatView</A>(mC,<A href="../../../../docs/manualpages/Viewer/PETSC_VIEWER_STDOUT_SELF.html#PETSC_VIEWER_STDOUT_SELF">PETSC_VIEWER_STDOUT_SELF</A>);

<a name="line52"> 52: </a>  <font color="#B22222">/* Perform SeqAIJ_SeqAIJ PtAP for comparison testing */</font>
<a name="line53"> 53: </a>  <A href="../../../../docs/manualpages/Mat/MatPtAP.html#MatPtAP">MatPtAP</A>(A,aijP,MAT_INITIAL_MATRIX,1.,&amp;C);
<a name="line54"> 54: </a>  <A href="../../../../docs/manualpages/Mat/MatView.html#MatView">MatView</A>(C,<A href="../../../../docs/manualpages/Viewer/PETSC_VIEWER_STDOUT_SELF.html#PETSC_VIEWER_STDOUT_SELF">PETSC_VIEWER_STDOUT_SELF</A>);

<a name="line56"> 56: </a>  <font color="#B22222">/* Perform diff of two matrices */</font>
<a name="line57"> 57: </a>  <A href="../../../../docs/manualpages/Mat/MatAXPY.html#MatAXPY">MatAXPY</A>(C,-1.0,mC,DIFFERENT_NONZERO_PATTERN);
<a name="line58"> 58: </a>  <font color="#B22222">/* Note: We should be able to use SAME_NONZERO_PATTERN on the line above, */</font>
<a name="line59"> 59: </a>  <font color="#B22222">/*       but don't because this flag doesn't assist testing. */</font>
<a name="line60"> 60: </a>  <A href="../../../../docs/manualpages/Mat/MatView.html#MatView">MatView</A>(C,<A href="../../../../docs/manualpages/Viewer/PETSC_VIEWER_STDOUT_SELF.html#PETSC_VIEWER_STDOUT_SELF">PETSC_VIEWER_STDOUT_SELF</A>);

<a name="line62"> 62: </a>  <font color="#B22222">/* Cleanup */</font>
<a name="line63"> 63: </a>  <A href="../../../../docs/manualpages/Mat/MatDestroy.html#MatDestroy">MatDestroy</A>(P);
<a name="line64"> 64: </a>  <A href="../../../../docs/manualpages/Mat/MatDestroy.html#MatDestroy">MatDestroy</A>(aijP);
<a name="line65"> 65: </a>  <A href="../../../../docs/manualpages/Mat/MatDestroy.html#MatDestroy">MatDestroy</A>(A);
<a name="line66"> 66: </a>  <A href="../../../../docs/manualpages/Mat/MatDestroy.html#MatDestroy">MatDestroy</A>(C);
<a name="line67"> 67: </a>  <A href="../../../../docs/manualpages/Mat/MatDestroy.html#MatDestroy">MatDestroy</A>(mC);
<a name="line68"> 68: </a>  <A href="../../../../docs/manualpages/Sys/PetscFinalize.html#PetscFinalize">PetscFinalize</A>();
<a name="line69"> 69: </a>  <font color="#4169E1">return</font>(0);
<a name="line70"> 70: </a>}
</pre>
</body>

</html>
